.header {
    display: flex;
    justify-content: space-between;
    background-color: #2F80ED;
    border-bottom: 10px solid #000;
    padding: 10px 20px;    
}

.header .navigation{
    text-align: right;
}